<!DOCTYPE html>
<html lang="en">
<head>
    <title> SignUp </title>
    <%- include("headerfiles") %>
</head>
<body>
<%- include("userheader") %>
<section class="inner-banner">
    <div class="container">

        <h2>Change Password</h2>
    </div>
</section>
<div class="container">
    <form id="form" action="/userchangepasswordaction" method="post">
        <div class="row">
            <div class="col-md-6 mt-2">
                <label for="username"> Enter User Email: </label>
                <input  readonly value="<%=username%>"  type="text" id="username" name="username" class="form-control" required
                       data-msg-required="Email is required"/>
            </div>
            <div class="col-md-6 mt-2">
                <label for="password"> Enter Password: </label>
                <input type="password" id="password" name="password" minlength="5" maxlength="15" id="password"
                       class="form-control" required
                       data-msg-required="password is required "/>
            </div>
            <div class="col-md-6 mt-2">
                <label for="newpassword">Set New Password:</label>
                <input type="password" name="newpassword" id="newpassword" class="form-control"
                       data-rule-required="true"/>
            </div>
            <div class="col-md-6 mt-2">
                <label for="cpass">Confirm Password:</label>
                <input type="password" name="cpass" id="cpass" class="form-control" data-rule-required="true"
                       data-rule-equalto="#newpassword"/>
                <div id="output"></div>
            </div>
            <div class="col-md-6 mt-2">
                <button type="button" onclick="changepassword()" class="btn btn-primary btn-lg form -control"> SUBMIT
                </button>
                <div id="output"></div>
            </div>

        </div>
    </form>
</div>
<br>
<%-include("footer")%>
<%-include("footer-scripts")%>
<!--<script src="/dist/jquery-3.6.3.js"></script> -->
<script src="/dist/jquery.validate.js"></script>
<script>
    let changepassword = () => {
        $("#form").validate();
        if ($("#form").valid()) {
            // var user_name = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var newpassword = document.getElementById("newpassword").value;
            var confirmpassword = document.getElementById("cpass").value;

            let data = new FormData();
            // data.append("username", username);
            data.append("password", password);
            data.append("newpassword", newpassword);
            data.append("confirmpassword", confirmpassword);

            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // alert(this.response);
                    document.getElementById("output").innerHTML = this.response;
                    // if (this.response == "updated") {
                    //     document.getElementById("confirmform").reset();
                    //     document.getElementById("output").innerHTML = "<div class= 'alert alert-success'> Password Changed successfully </div>";
                    //     document.location.href = "/login";
                    // } else if(this.response == "newpassword and confirmpassword does not match") {
                    //     document.getElementById("output").innerHTML = "<div class='alert alert-danger'>New Password and Confirm does not match</div>";
                    // }
                }
            }

            http.open("POST", "/user/userchangepasswordaction", true);
            http.send(data);
        } else {
            document.getElementById("btn").value = "loading....";

        }
    }
</script>

</body>
</html>