<!doctype html>
<html lang="en">
<head>
    <title> View Taxi Type</title>
    <%- include('headerfiles') %>
    <!--    <%- include("header") %>-->
</head>
<body onload="viewtaxitype()">
<%- include("adminheader") %>
<div class="container mt-3">
    <h1>Taxi Type</h1>
    <div id="output"></div>
</div>
<%- include("footer") %>
<%- include("footer-scripts") %>
<script>
    function viewtaxitype() {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // console.log(this.response);
                let output = '<table class="table">' +
                    '<tr class="text-center"> <th> Sr.No. </th> <th> Taxi Type </th><th>Action</th> </tr>';
                if (this.response !== "no data found ") {
                    let data = JSON.parse(this.response);
                    for (let i = 0; i < data.length; i++) {
                        output += `<tr class="text-center"><td>${i + 1}</td>
                            <td>${data[i].type}</td>
                            <td><button type="button" class="btn btn-danger" onclick="del_type('${data[i].type}')">Delete</button> </td>
                            </tr>`;
                    }
                }
                output += '</table>';
                document.getElementById("output").innerHTML = output;
            }

        }
        http.open("get", "/admin/gettaxitypedata", true);
        http.send();
    }

    function del_type(ty) {
        fetch("/admin/del-TaxiType/" + ty).then(res => res.text()).then(val => {
            console.log(val);
            if (val === "deleted") {
                viewtaxitype();
            } else
                alert(val);
        })
    }
</script>

</body>
</html>